* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
 
}

#root {
  background: linear-gradient(16deg, #48355B 0%, #91BEF3 100%);
}

.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.weather_content {
  padding: 4.0625rem 0 4.0625rem 5rem;
  color: rgba(255, 255, 255, 1);
}

.weather_icon {
  height: 80px;
  margin-bottom: 25px;
}

.weather_title {
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 10.25rem;
  color: rgba(255, 255, 255, 1);
}

.weather_date {
  font-family: 'Inter', sans-serif;
}

.weather_date p {
  font-weight: 200;
  font-size: 2.25rem;
  line-height: 2.6875rem;
}

.weather_date pre {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.75rem;
  margin-top: 16px;
}

.weather_info {
  font-family:'Overpass';
  font-weight: 200;
  font-size: 1.375rem;
  line-height: 1.6875rem;
  margin: 40px 0 74px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hum-i,
.wind-i,
.rain-i {
  width: 22px;
  height: 22px;
}


.weather_wind,
.weather_hum,
.weather_rain {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wind,
.hum,
.rain {
  display: flex;
  gap: 15px;
  align-items: center;
}

.weather_list {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}

.weather_item {
  width: 110px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  backdrop-filter: blur(1.14px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 16px 27px;
  border: .5px solid rgba(255, 255, 255, 1);
  border-radius: 11px;
}


/* WEATHER FORM */

.weather-f_content {
  background: linear-gradient(169.15deg, rgba(255, 255, 255, 0.4) 0%, rgba(238, 237, 237, 0.2) 96.79%);
  padding-right: 45px;
  padding-left: 40px;
  text-align: center;
  position: relative;
}

.weather_nav {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.weather_nav img {
  width: 35px;
  height: 35px;
}

.weather_nav input {
  background-color: inherit;
  border: none;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.375rem;
  transition: all .3s;
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 1);
  margin: 0 30px;
  padding: 5px;
}

.weather_nav input:focus {
  border: none;
}

.weather_nav input::placeholder {
  font-family: 'Inter', sans-serif;
  color: rgba(255, 255, 255, 1);
}

.btn-search {
  background: linear-gradient(116.79deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 99.45%);
  border: none;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.weather_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  transition: all .3s;
}

.weather_card:hover,
.weather_card:focus {
  transform: translateY(-50px);
}

.weather_sun {
  margin-top: 130px;
  display: flex;
  gap: 60px;
  justify-content: center;
}

.weather_sun h4 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 2.1rem;
  color: rgba(255, 255, 255, 1);
}


.weather_sun .weather_time {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  line-height: 2.0625rem;
  color: rgba(255, 255, 255, 1);
}

.weather_time dd {
  font-size: 22px;
  color: rgba(235, 235, 235, 1);
}

.weather_time {
  background-color: rgba(255, 255, 255, 0.26);
  padding: 30px 16px;
  width: 105px;
  height: 210px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.time-i {
  width: 68px;
}

.weather_air img {
  width: 180px;
}

.weather_air {
  font-family: 'Inter', sans-serif;
  font-size: 1.1875rem;
  font-weight: 200;
  line-height: 1.375rem;
  color: rgba(255, 255, 255, 1);
}
.weather_air {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

hr {
  height: 0.6px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  width: 80%;
  margin: 70px auto;
  position: relative;
}

hr ~ span {
  color: rgba(255, 255, 255, 1);
  font-style: italic;
  background-color: rgba(255, 255, 255, 0.23);
  padding: 6px 15px;
  border-radius: 50%;
  position: absolute;
  right: 2.5rem;
  top: 35rem;
  cursor: pointer;
}

.air_title {
  font-family: 'Inter', sans-serif;
  margin-bottom: 30px;
  font-size: 1.75rem;
  font-weight: 200;
  line-height: 2.0625rem;
  color: rgba(255, 255, 255, 1);
}

.air_info {
  position: relative;
}

.air_info dl {
  position: absolute;
  bottom: 15px;
  left: 30%;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 108px;
  height: 60px;
  color: #269af2;
  --c: radial-gradient(farthest-side,currentColor 96%,#0000);
  background: 
    var(--c) 100% 100% /30% 60%,
    var(--c) 70%  0    /50% 100%,
    var(--c) 0    100% /36% 68%,
    var(--c) 27%  18%  /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {transform:scale(1.8);opacity:0}
}